footer {
    font-family: 'PT Serif', serif;
    background-color: #fff;
    color: black;
    padding: 10px 0; 
    position: relative;
    bottom: 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px; 
}

footer .socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

footer .socials a {
    margin-left: 10px; 
}

footer .socials img {
    width: 40px;
    height: 40px;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

footer .links a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    color: #00A877; 
    font-weight: bold;
    
}

footer .brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

footer .brand img {
    height: 70px; 
}

footer .copyright {
    font-size: 16px;
    color: #00A877; 
    font-weight: bold;
    margin-top: 10px;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

footer {
    position: relative;
    margin-top: auto;
}
