
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: 'PT Serif', serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px; 
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #00A877; 
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
    color: black;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.menu-icon span {
    display: block
}