body {
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(white, #A7FFDF);
    text-align: center;
    color: #007A57;
}

.services {
    padding: 20px;
    border-radius: 50px;
    background: #007A57;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 50px;
}

.services h2 {
    color: white;
    font-style: italic;
    opacity: 50%;
}

.highlight {
    color: #FF5F92;
    font-weight: bold;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.service {
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
}

.service p {
    text-align: center;
}

.service img {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
